@import '../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';
* {
  
//  outline: 1px solid red;
}
body {
  background-color: $lightBlue;
  
}
.pageBackground {
  background-color: $myWhite;
}
p > a, li > a  {
  font-style: italic;
}
.caption > p {
  font-size: 1.5em;
  font-style: italic;
  color: $myLightGrey;
  
}
h2 {
  
}
.hero {
  background: $myWhite;
  border-radius: 10px;
  padding: 20px;
  font-family: $font-family-serif;
  font-size: 4.5em;
  color: $myH1;
  line-height: 1.125em;
  
}
h1.hero {
  margin-bottom: -1px;
}
.heroCallout {
  color: $beard;
  font-weight: bold;
}
.socialGroup, .bitOfWork{
  margin-top: 20px;
}

// my navbar styles
.navbar-brand {
  font-family: $font-family-serif;
  font-size: 1.875em;
  font-weight: bold;
}
.navbar{
  margin-bottom: 0;
}
.pageBackgroundMargin {
  margin-top: 75px;
}

// my button styles
.btn {
  background-color: $darkBlue;
  border-radius: 0;
  box-shadow: 5px 5px 0px $myButtonShadow;
  color: $myWhite;
}
.btn:hover{
  color:  darken($myWhite, 15%);
}
.btn:active {
position: relative;
  top: 5px;
  left: 5px;
} 
.btn:visitied {
  color:$myWhite;
}
.sidebarImage {
  max-height: 300px
}
.sidebarCaption {
  display: none;
}
p.activeCaption {
//  font-size: 1em;
//  font-style: normal;
}
.porfolioThumbnail {
font-style: italic;
  min-height: 180px;
}
.porfolioThumbnailImage {
//  min-width: 20em;
//  position: relative;
//  z-index: ;
}
.caption {
//  position: absolute;
  

}
.footerLinks {
  list-style: none;
  margin-top: 150px;
  
}
.footerLinks > li {
  display: inline;
  padding: 15px;
}

// Illustration
.grass {
  height: 50px;
  background: url("../images/grassPattern.png") repeat;
}
.rock {
  height: 100px;
  background: url("../images/rockPattern.png") repeat;
  background-position: 30% 35%;
}

.downArrow {
  padding-bottom: 10px;
}
.nathanFooter {
  max-width: 100px;
}
// allignment classes
.bottomAlign {
  display: flex;
  align-items: flex-end;
  
}
.middleAlign {
  display: flex;
  align-items: center;
  
}
//breakpoints

@media (max-width: $screen-xs-max) { 
  h1.hero {
    margin-bottom: 20px;
  }
  .caption > p.sidebar {
  font-size: 1em;
  }
}
@media (min-width: $screen-sm-min) { 
  .myFloatRight {
    
  }
  .caption > p.sidebar {
  font-size: .75em;
  }
}
@media (max-width: $screen-sm-max) { 
  
}
@media (min-width: $screen-md-min) { 
  
}
@media (max-width: $screen-md-max) {  }
@media (min-width: $screen-lg-min) {  }


// animations. Thanks to Animate.css for the animation classes.
.animated {
  -webkit-animation-duration: 1s;
 
  animation-duration: 1s;

  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  
  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}

@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
   -webkit-animation-delay: 5s; /* Chrome, Safari, Opera */
    animation-delay: 5s;
    -webkit-animation-iteration-count: 2; /* Chrome, Safari, Opera */
    animation-iteration-count: 2;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
