@import '../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';
@import 'my_mixins.scss';
* {
  
//  outline: 1px solid red;
}
body {
  background-color: $lightBlue;
  
}
.pageBackground {
  background-color: $myWhite;
  padding-top: 80px;
}
p > a, li > a  {
  font-style: italic;
}

h2 {
  color: $myLightGrey;
}
p.activeCaptionTitle {
  color: $myLightGrey;
  font-style: italic;
}

article {
  margin-bottom: 20px;
}
.pageBackgroundMargin {
  padding-top: 100px;
//  clear: both;
}
.socialGroup, .bitOfWork{
  margin-top: 20px;
}



////////////////////////////////////////////////////// Hero styles
.hero {
  background: $myWhite;
  border-radius: 10px;
  padding: 20px;
  font-family: $font-family-serif;
  font-size: 4.5em;
  color: $myH1;
  line-height: 1.125em;
  
}
h1.hero {
  margin-bottom: -1px;
}
.heroCallout {
  color: $beard;
  font-weight: bold;
}


///////////////////////////////resume styles
p.resumePhone {
  margin-bottom: 0;
}
a.resumeEmail {
  margin-top: 0;
}
h3.jobTitle{
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0;
}
p.jobPlace {
  margin-bottom: 0;
  
}

.jobDetailsGroup{

  font-size: 0.875em;
padding-left:0;
}
.jobDetailsGroup > ul {
  
}
p.jobTime {
  font-style: italic;
  margin-bottom: 0;
}

//////////////////////////////////////          my navbar styles
nav.navbar {
  top:0px;
}
.navbar-brand {
  font-family: $font-family-serif;
  font-size: 1.875em;
  font-weight: bold;
}
.navbar{
  margin-bottom: 0;
  border-radius: 0;
}
.affix {
  width:100%;
  z-index: 100;
  top:0;
  
}

////////////////////////////////////////////// my button styles
.btn {
  background-color: $myWhite;
  border-radius: 0;
  color: $myH1;
  margin: 10px 0 10px 0;
  border:none;
  background-image: url("/images/pixelbutton.png") ;
  background-repeat:no-repeat;
//  background-size: contain;
  min-width: 150px;
 
  @include responsive-bg-image(321, 85);
}
.btn:hover{
  color:  darken($myLightGrey, 15%);
  background-color: $myWhite;
  border:none;
  background-image: url("/images/pixelButtonHover.png") ;
  background-repeat:no-repeat;
//  background-size: contain;
  min-width: 150px;
 
  @include responsive-bg-image(321, 85);
}
/*.buttonDiv {
  max-height: 50px; 
}*/
.btn:active {
  color:  darken($myLightGrey, 15%);
  background-color: $myWhite;
  border:none;
  background-image: url("/images/pixelButtonPressed.png") ;
  background-repeat:no-repeat;
//  background-size: contain;
  min-width: 150px;
 
  @include responsive-bg-image(321, 85);
  
  
/*position: relative;
  top: 5px;
  left: 5px;
  bacground-color: darken($myWhite, 15%);
  border-radius: 0;
  box-shadow: 0 0 0 0;*/
} 
.btn-default :active {
/*position: relative;
  top: 5px;
  left: 5px;
//  bacground-color: darken($myWhite, 15%);
  border-radius: 0;
  box-shadow: 0 0 0 0;*/
} 

.btn:visitied {
  color:$myWhite;
}
.hambo {
  margin-top: 5px;
}
//////////////////////////////// thumbnail and caption styles
.caption > p {
  
  
}
.sideWork  .thumbnail:hover {
  box-shadow: 0px 0px 5px 5px lighten($myLightGrey, 60);
}
p.sidebar {
  font-size: 2em;
  font-style: italic;
}
.sidebarImage {
  max-height: 300px
}
.sidebarCaption {
  display: none;
}
p.activeCaption {
 font-size: 1em;
}
.porfolioThumbnail {
font-style: italic;

}
.porfolioThumbnail:hover {
 box-shadow: 0px 0px 5px 5px lighten($myLightGrey, 60);
}
.porfolioThumbnailImage {

}
.caption {

}

//////////////////////////////// /////form styling
textarea {
  height: 120px;
  
  background: none;
}
input, textarea {
  border: 1px solid lighten($myLightGrey, 25)
}
form, input, label, textarea, .myLabel, .form-group {
	box-sizing: border-box;
}

label, input, textarea {
	display: block
}
.myLabel {
  
	
	margin-top: -1px; // border collapser
	position: relative;

}
.myForm {

	
	list-style-type: none;
	
	padding: 0;
	

}
label {
	
	font-size: 70%;
	letter-spacing: 0.03em;
	position: absolute;
	top: 10px;
	left: 10px;
	text-transform: uppercase;
	.active &, input:focus+&, textarea:focus+& {
		color: darken(#0074D9, 10);
		font-weight: bold;
		letter-spacing: -0.01em;
	}
}
input, input:focus, textarea, textarea:focus {
	background-color: transparent;
	
	
	font-size: 18px;
	margin: 9px 0 7px 0;
	margin: 0;
	padding: 2em 10px 10px 10px;
	outline: none;
	width: 100%;
}
input:focus, textarea:focus {
	color: #000;
		
		box-shadow: 0px 3px 4px -2px rgba(0,0,115,0.25) inset;
}
label, input, textarea {
	transition: color 0.4s ease, background-color 0.1s ease-in-out;
}

////////////////////////////////////////////////////// Footer stylings
.footerLinks {
  list-style: none;
  margin-top: 150px;

  
}
.footerLinks > li {
  display: inline;
  padding-bottom: 50px;
}
.copyright {
  font-size: .6em;
}
.nathanFooter {
  max-height: 272px;
}
.footerTree {
  position: relative;
  max-height: 459px;
  left: -10px;
}
////////////////////////////////////////////////////// Illustration
.grass {
  height: 50px;
  background: url("../images/grassPattern.png") repeat;
}
.rock {
  height: 100px;
  background: url("../images/rockPattern.png") repeat;
  background-position: 30% 35%;
}

.downArrow {
  padding-bottom: 10px;
}
.nathanFooter {
  max-width: 100px;
}
/////////////////////////////////////////////// alignment classes
.bottomAlign {
  display: flex;
  align-items: flex-end;
  
}
.middleAlign {
  display: flex;
  align-items: center;
  
}
/////////////////////////////////////////////////////////////breakpoints

@media (max-width: $screen-xs-max) { 
  h1.hero {
    margin-bottom: 20px;
    font-size: 2.5em;
  }
  
  .caption > p.sidebar {
  font-size: 1em;
  }
  .jobTitleGroup{
  border-bottom: 1px solid $myLightGrey;
  }
  .btn {
    font-size: .8em;
  }

}

@media (min-width: $screen-sm-min) { 
  .myFloatRight {
    
  }
  .caption > p.sidebar {
  font-size: .9em;
  }
  .job {
margin-top: 15px;
  }
  .jobDetailsGroup{
  border-left: 2px solid $myLightGrey;
  
}
  
}
@media (max-width: $screen-sm-max) { 
  
}
@media (min-width: $screen-md-min) { 
  
}
@media (max-width: $screen-md-max) {  }
@media (min-width: $screen-lg-min) {  }


/////////////////////////// animations. Thanks to Animate.css for the animation classes.
.animated {
  -webkit-animation-duration: 1s;
 
  animation-duration: 1s;

  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  
  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}

@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
   -webkit-animation-delay: 5s; /* Chrome, Safari, Opera */
    animation-delay: 5s;
    -webkit-animation-iteration-count: 2; /* Chrome, Safari, Opera */
    animation-iteration-count: 2;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
